body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  width: 320px; 
}

textarea {
  width: 100%; 
  max-width: 314px;
}

button {
  cursor: pointer;
}

button.control {
  padding: 4px 8px;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
}

button.remove {
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0px 4px;
}

hr {
  border: none;
  border-top: 1px solid #333333;
  color: #333333;
}

.hide {
  display: none;
}

.presetLabel {
  cursor: pointer;
  text-decoration: underline;
}

.controlsContainer {
  display: flex;
  margin-top: 8px;
}

.controls {
  position: relative; 
  display: flex; 
  width: 100%; 
  column-gap: 8px;
}

.rightControls {
  justify-content: flex-end;
}

